<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="robots" content="noindex,nofollow" />
    <meta
      name="description"
      content="Radiator is the 100% open source podcast hosting project for the next century of the internet."
    />
    <.live_title suffix=" · Radiator 🔥">
      {assigns[:page_title] || "Radiator"}
    </.live_title>
    <!--<link rel="canonical" href="" />-->
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-white">
    {@inner_content}
  </body>
</html>
