<div class="container mx-auto mb-6 px-8 max-w-sm">

    <div class="mb-6">
      <h1 class="text-3xl font-bold mb-1 text-blue-900">Signup</h1>
    </div>

    <%= render "signup_form.html", Map.merge(assigns, %{
      action: Routes.login_path(@conn, :signup), 
      button_text: "Signup"})
      %>

</div>
