<div class="container mx-auto mb-6 max-w-sm">

    <div class="mb-6">
      <h1 class="mb-1 text-blue-darkest">Signup</h1>
    </div>

    <%= render "signup_form.html", Map.merge(assigns, %{
      action: Routes.login_path(@conn, :signup), 
      button_text: "Signup"})
      %>

</div>
