<div class="container mx-auto mt-8">

  <div class="max-w-sm rounded overflow-hidden shadow-lg mb-8">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Admin Pages</div>
      <ul class="">
        <li><%= link("Networks", to: Routes.admin_network_path(@conn, :index), class: "no-underline text-blue") %></li>
      </ul>
    </div>
  </div>

</div>
