Hi there, <%= @username %>!

You are receiving this email because you requested a password reset for you user account <%= @username.email %>.

Please visit the following page to choose a new password. 

<%= @reset_password_url %>


If you did not ask for this email, you can safely ignore it.
