/* This file is for your main application css. */

@tailwind base;

html {
  font-family: sans-serif;
  line-height: 1.15;
}

@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;


/* used in svg icons that have 2 colors */
.primary {
  fill: theme("colors.tertiary");
}

.secondary {
  fill: theme("colors.primary");
}

.card {
  @apply bg-white shadow p-6;
}

.input {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;

  &:focus {
    @apply outline-none bg-white border-blue-500;
  }
}

.txt-lnk {
  @apply no-underline text-primary;
}

.txt-lnk:hover {
  @apply underline;
}

.inline-frm {
  @apply py-1 px-2 mr-2 rounded border-gray-300 bg-white h-full;
}

.inline-input {
  @apply inline-frm;
}

.inline-select {
  @apply inline-frm
}

.btn {
  @apply no-underline font-bold py-2 px-4 bg-primary text-white rounded;
}

.btn:hover {
  @apply bg-secondary;
}

.btn-danger {
  @apply text-red-600 bg-white font-medium;
}

.btn-danger:hover {
  @apply text-red-700 bg-red-100;
}

.btn-destructive {
  @apply bg-red-500 text-white;
}

.btn-destructive:hover {
  @apply bg-red-600;
}

.btn-cancel {
  @apply text-gray-900 bg-gray-200 border-secondary border rounded;
}

.btn-cancel:hover {
  @apply text-black bg-gray-300;
}

.btn-wicon {
  @apply inline-flex items-center pl-3;
}

.pill {
  @apply shadow bg-white text-primary py-2 px-4 rounded-full;
}

.pill:hover {
  @apply text-secondary;
}


.nav-chevron {
  @apply mx-1 h-full flex items-center;
}

.nav-link {
  @apply mx-0 h-full flex items-center;

  a {
    @apply text-gray-200 no-underline;
  }

}

.nav-link:hover {
  @apply underline;
}

.help-block {
  @apply block text-red-600 mx-4 mt-2;
}

.truncate-fade {
  @apply truncate;
  position: relative;
}

.truncate-fade:after {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 100%;
  bottom: 0;
  right: 0;
  width: 2em;
  background: linear-gradient(to right, theme("colors.primarytransparent"), theme("colors.primary"));
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body#admin {
  background-color: #ecf2f7;
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%234fa0b4' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/** .raw-content is the public shownotes section with imported html. Here be dragons. **/

.raw-content {
  @apply card;
}

.raw-content>img,
.raw-content p,
.raw-content table {
  @apply mb-8;
}

.raw-content li {
  @apply mb-2;
}

.raw-content li img {
  @apply float-left mr-2;
}
