<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Radiator</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="font-sans bg-gray-200 antialiased">

    <%= render RadiatorWeb.PageView, "_nav.html", assigns %>

    <%= if get_flash(@conn, :info) do %>
      <div class="bg-yellow-200 border-l-4 border-yellow-400 text-yellow-900 px-4 py-3 mb-10 mx-2">
        <div class="flex">
          <div class="py-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-6 w-6 mr-4 text-yellow-600">
              <path d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm-.5-5h1c.276 0 .5.224.5.5v1c0 .276-.224.5-.5.5h-1c-.276 0-.5-.224-.5-.5v-1c0-.276.224-.5.5-.5zm0-8h1c.276 0 .5.224.5.5V8l-.5 3-1 .5L9 8V5.5c0-.276.224-.5.5-.5z"/>
            </svg>
          </div>
          <div>
            <p class="font-semibold">Info</p>
            <p class="text-sm"><%= get_flash(@conn, :info) %></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <div class="bg-red-200 border-l-4 border-red-400 text-red-900 px-4 py-3 mb-10 mx-2">
        <div class="flex">
          <div class="py-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-6 w-6 mr-4 text-red-600">
              <path d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm-.5-5h1c.276 0 .5.224.5.5v1c0 .276-.224.5-.5.5h-1c-.276 0-.5-.224-.5-.5v-1c0-.276.224-.5.5-.5zm0-8h1c.276 0 .5.224.5.5V8l-.5 3-1 .5L9 8V5.5c0-.276.224-.5.5-.5z"/>
            </svg>
          </div>
          <div>
            <p class="font-semibold">Error</p>
            <p class="text-sm"><%= get_flash(@conn, :error) %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
