<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @view_module.page_title(@view_template, assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <style>
    div.episode-description ul,
    div.content-encoded ul
     {
      list-style-type: disc;
      padding-left: 2em;
    }
    div.episode-description ul ul,
    div.content-encoded ul ul {
      list-style-type: square;
      padding-left: 1em;
    }

    div.episode-description a,
    div.content-encoded a {
      text-decoration: underline;
    }

    div.content-encoded table,
    div.content-encoded td
     {
       padding: 0.5em;
      border: 1px solid darkgray;
      border-collapse: collapse;
    }

    div.content-encoded p {
      margin-bottom: 0.5em;
    }
    </style>
  </head>
  <body class="font-sans bg-purple-100 antialiased">
    <main class="pt-6">
    <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
