<Layouts.app flash={@flash}>
  <div class="text-center">
    <h1 class="my-4 text-6xl">{@podcast.title}</h1>
    <h2 class="my-4 text-4xl">Episode X</h2>
  </div>

  <p>Lorem Ipsum</p>
</Layouts.app>
