<div class="container mx-auto mb-6 px-8">
    <div class="mb-6">
      <h1 class="text-3xl font-bold mb-1 text-blue-900">Edit your Podcast Network</h1>
      <span class="text-gray-600 font-normal text-lg">Changes can take a moment until they are visible on third party platforms.</span>
    </div>

    <%= render "form.html", Map.merge(assigns, %{action: Routes.admin_network_path(@conn, :update, @network), button_text: "Update Network"}) %>
</div>
