<%= render RadiatorWeb.PageView, "nav.html", assigns %>

<div class="container mx-auto mb-6">
  <div class="mb-6">
    <h1 class="mb-1 text-blue-darkest"><%= @podcast.title %></h1>
    <span class="text-grey-dark font-normal text-lg"><%= @podcast.subtitle %></span>
  </div>
</div>
